body {
    margin: 0;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background: #000;
    font-weight: 700;
}

b{
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}


/*Header*/
.header {
    width: 100%;
    height: 80px;
    background: #000;
}

/*Nav*/
.nav {
    padding: 32px 0;
}

.nav_link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;

    padding-left: 40px;
}

.nav_link:first-child {
    padding-left: 0;
}

.nav_enter {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    float: right;
}

.fa-sign-in-alt {
    color: #4d4d4d;
    padding-right: 15px;
}


/*Main*/
.main {
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.intro {
    display: flex;
    justify-content: center;
}

.intro_img {
    margin-top: 60px;
    display: block;
}

/*Columns*/
.main_offer {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    width: 33.333%;
    height: 170px;
    padding-right: 20px;
}

.col:last-child {
    padding-right: 0;
}

.col_title{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.col_title:after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    margin: 17px auto 31px;
}

.col_text{
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

/*Section*/
.section{
    height: 420px;
    max-width: 100%;
    background: url(../img/section_fon.jpg) center no-repeat;
    color: #000;
    margin-top: 80px;
}

.section:last-child{
    margin-bottom: 65px;
}

.section_container{
    width: 780px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.section_col {
    margin-top: 55px;
    width: 50%;
}

.right_col{
    padding-left: 90px;
}

.section_title{
    font-size: 30px;
    margin-bottom: 35px;
  
}

.section_text{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 20px;
    
}

.section_date{
    margin-bottom: 33px;
}

.section_date {
    font-size: 12px;
}

.btn_news{
    cursor: pointer;
    border: none;
    background: #000;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px 34px;
    max-width: 100%;
    
}

.btn_news:hover{
    background-color: rgb(77, 77, 77);
}

.btn_second_col{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.photogallery_img{
    width: 286px;
    height: 164px;
}

.previous_btn{
    width: 140px;
}

.adress {
    font-size: 15px;
}

.time_work {
    margin-top: 25px;
    font-size: 14px;
}

.btn_second_section {
   display: flex;
   justify-content: space-between;
   margin-top: 63px;
}

/*Form*/
.form{
    width: 305px;
}

.form_input{
    width: 140px;
    height: 40px;
    border: 2px solid #000;
    margin-bottom: 20px;
    margin-right: 20px;
}

.form_input:nth-child(2n){
    margin-right: 0;
}

.form_btn{
    width: 100%;
    margin-top: 18px;
}

/*Footer*/
.footer{
    widows: 100%;
    height: 195px;
    background: url(../img/footer_back.png) center no-repeat
}

.footer_content{
    padding-top: 65px;
    font-size: 14px;
    line-height: 25px;

    display: flex;
    justify-content: space-between;
}

footer a{
    color: #fff;
    text-decoration: underline;
}

.footer_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    width: 43px;
    height: 43px;
    background: #000;
    color: #fff;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    padding-top: 8px;
}

.icons:first-child{
    margin-left: 0;
}

.second_col{
    width: 150px;
    height: 80px;

}

.html_academy{
    background: #000;
    color: #fff;
    width: 140px;
    height: 43px;
    text-align: center;
    padding-top: 8px;
}

.footer_title{
    text-align: center;
    margin-bottom: 10px;
}

/*Adaptation*/
@media (max-width: 990px){

    .section{
        background: #f5f5f5;
        height: auto;
        padding-bottom: 50px;
     
    }

    .header{
        display: none;
    }

    .col{
        width: 50%;
    }

    .col_text  {
        max-width: 250px;
    }

    .section_container{
       justify-content: center;
    }

    .section_col{
        width: 100%;
    }

    .section_title{
        text-align: center;
        font-size: 40px;
    }

    .section_text{
        font-size: 18px;
        text-align: center;
    }

    .section_date{
        text-align: center;
    }

    .news{
        margin-left: 118px;
    }

    .photogallery{
        text-align: center;
    }

}

@media (max-width: 770px){
    .col{
        width: 100%;
        margin-bottom: 50px;
    }
    
    .col:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 575px){
    
}