body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

/*First Section*/

.first_sec {
    height: 545px;
    background: #eee;
    position: relative;
}

.main_logo {
    position: absolute;
    top: 38px;
    left: 140px;
}

.header {
    padding-top: 50px;
}

/*Burger*/
#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    opacity: 0.9;
}

.menu__item {
    display: block;
    padding: 20px 0;
    color: #000;
    font-size: 36px;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

.nav {
    text-align: center;
}

.nav_link {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding-left: 45px;
}

.nav_link:first-child {
    padding-left: 0;
}

.nav_link:hover,
.nav_enter:hover {
    text-decoration: underline;
}

.nav_enter {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    float: right;
    padding-right: 140px;
}

.fa-shopping-cart {
    color: #a6a6a6;
}

.menu {
    display: none;
}

.header_flex {
    display: flex;
    flex-wrap: wrap;
}

.header_title {
    width: 385px;
    max-width: 100%;
    height: 270px;
    margin: 50px 0 0 140px;
}

.header_title h1 {
    font-size: 52px;
}

.header_title h4 {
    font-size: 16px;
    color: #283136;
}

.head_btn {
    color: #fff;
    font-size: 16px;
    background: #fb565a;
    padding: 15px 45px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.head_btn:hover {
    background: #c53739;
}

.phones {
    position: absolute;
    bottom: 0;
    right: 160px;
}

.phones_img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*Second section*/
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    border-bottom: 2px solid #eee;
}

.wedo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
}

.wedo_title {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 600;
}

.wedo_text {
    font-size: 16px;
    color: #283136;
    margin-top: 28px;
    width: 240px;
}

.wedo_btn {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 14px 34px;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.btn_red {
    background: #fb565a;
}

.btn_red:hover {
    background: #c53739;
}

.btn_green {
    background: #00ca74;
}

.btn_green:hover {
    background: #008b4f;
}

.btn_yellow {
    background: #efc84a;
}

.btn_yellow:hover {
    background: #d3b03c;
}


/*Third Section*/
.third_sec {
    margin-top: 90px;
}

.container_sec {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    border-bottom: 2px solid #eee;
}

.studio {
    display: flex;
    margin-bottom: 80px;
}

.studio_item_first {
    width: 100%;
    max-width: 700px;
}

.studio_title {
    font-size: 44px;
    font-weight: 600;
}

.studio_text {
    font-size: 16px;
    color: #505050;
    margin-top: 20px;
    line-height: 22px;
}

.spisok ul {
    padding-inline-start: 0px;
}

.spisok li {
    font-size: 16px;
    color: #505050;
    line-height: 40px;
    list-style: none;
    background: url(../img/strip.png) no-repeat 0px 20px;
    padding-left: 40px;

}

.spisok li::marker {
    margin-top: 15px;
}

.studio_item_second {
    margin-left: 60px;
}

.studio_item_second h3 {
    margin-top: 30px;
}

.figures {
    display: flex;
    flex-wrap: wrap;
}

.figures_item {
    width: 33.3333%;
    padding-right: 20px;
}


.figure {
    font-size: 45px;
}

.figure_text {
    color: #283136;
    font-size: 16px;
    margin-top: 15px;
}

/*Fourth Sec*/
.fourth_sec {
    margin-top: 60px;
}

.f_logo {
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.f_logo_item {
    width: 20%;
    margin-left: 50px;
}

/*Fifth Sec*/
.fifth_sec {
    margin-top: 80px;
    background: url(../img/map.jpg) no-repeat;
    background-size: cover;
    height: 480px;
}

.white_block {
    height: 340px;
    width: 325px;
    background: #fff;
    margin-left: 220px;
    display: inline-block;
    margin-top: 70px;
}

.white_block_title {
    font-weight: 700;
    font-size: 18px;

}

.white_block_address,
.white_block_number {
    font-size: 16px;
    color: #666;
}

.white_block_address {
    margin-top: 35px;
}

.white_block_number {
    margin-top: 25px;
}

.white_block_btn {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    background: #fb565a;
    padding: 15px 45px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-top: 45px;
}

.white_block_btn:hover {
    background: #c53739;
}

.white_block_info {
    margin-left: 50px;
    margin-top: 53px;
}

/*Footer*/
.footer {
    display: flex;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    margin-top: 70px;
    margin-left: 140px;
    margin-bottom: 70px;
}

.icons_item {
    width: 80px;
    height: 80px;
    background: #e1e1e1;
    border-radius: 50%;
    margin-left: 15px;
}

.icons_item:hover {
    background: #cfcfcf;
    cursor: pointer;
}

.icons_item:first-child {
    margin-left: 0;
}

.icons_item .fab {
    color: #fff;
    font-size: 28px;
}

.icons_item .fa-vk {
    margin-left: 31%;
    margin-top: 34%;
}

.icons_item .fa-facebook-f {
    margin-left: 39%;
    margin-top: 32%;
}

.icons_item .fa-instagram {
    margin-left: 34%;
    margin-top: 34%;
}

.footer_text {
    margin-top: 80px;
    margin-left: 140px;
    width: 566px;
}

.footer_title {
    font-size: 36px;
    font-weight: 700;
}

.footer_podtext {
    color: #444;
    font-size: 16px;
    line-height: 25px;
}


/*Adaptation*/

@media (max-width: 1500px) {
    .phones_img {

        width: 650px;
    }

    .phones {
        right: 100px;
    }

    .nav_enter {
        padding-right: 100px;
    }
}


@media (max-width: 1400px) {
    .phones_img {
        width: 570px;
    }

    .phones {
        right: 80px;
    }

    .main_logo {
        left: 80px;
    }

    .header_title {
        margin-left: 80px;
    }

    .nav {
        margin-left: 50px;
    }

    .nav_enter {
        padding-right: 80px;
    }

}

@media (max-width: 1200px) {
    .phones_img {
        width: 550px;
    }

    .main_logo {
        left: 60px;
    }

    .header_title {
        margin-left: 60px;
    }

    .nav {
        margin-left: 150px;
    }

    .nav_link {
        padding-left: 30px;
    }

    .phones {
        right: 40px;
    }

    .nav_enter {
        padding-right: 40px;
    }

    .container {
        margin-left: 50px;
    }

    .studio_title {
        font-size: 30px;
    }

    .studio_text {
        font-size: 14px;
    }

    .studio_item_first {
        max-width: 600px;
        margin-left: 50px;
    }

    .studio_item_second {
        margin-left: 30px;
    }

    .figure {
        font-size: 35px;
    }

    .icons {
        margin-left: 70px;
    }

    .footer_text {
        margin-left: 70px;
    }

}

@media (max-width: 990px) {
    .first_sec {
        height: 700px;
    }

    .header_title {
        width: 100%;
    }

    .phones {

        bottom: 0;
    }

    .phones_img {
        width: 560px;
    }

    .main_logo {
        height: 45px;
        width: 120px;
        top: 48px;
    }

    .header_title h1 {
        font-size: 42px;
    }

    .wedo_item {
        width: 100%;
        margin-left: 0;
    }

    .wedo_title {
        text-align: center;
    }

    .wedo_text {
        margin-left: 25px;
        text-align: center;
    }

    .wedo_btn {
        margin-left: 67px;
    }

    .container {
        max-width: 300px;
        margin: 0 auto;
    }

    .studio {
        flex-wrap: wrap;
        justify-content: center;
    }

    .studio_item_second {
        margin-right: 150px;
        margin-left: 0;
    }

    .f_logo_item {
        width: 50%;
        margin-left: 0px;
        margin-top: 50px;
    }

    .f_logo_item:nth-child(1) {
        margin-top: 0;
    }

    .f_logo_item:nth-child(2) {
        margin-top: 0;
    }

    .f_logo {
        margin-left: 100px;
    }

    .footer_item {
        width: 100%;
    }

    .icons {
        justify-content: center;
        margin-left: -300px;
    }

    .footer_text {
        margin: 100px auto 0;
    }

    .footer {
        flex-direction: column-reverse;
    }

}

@media (max-width: 770px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .menu {
        display: block;
    }

    .header_title h1 {
        font-size: 36px;
    }

    .studio_item_second {
        margin-right: 100px;

    }


}

@media (max-width: 620px) {
    .studio_item_first {
        margin-right: 50px;
    }

    .studio_item_second {
        margin: 0 50px;
    }

    .f_logo_item {
        width: 100%;
        margin: 70px auto;
        justify-content: center;
    }

    .f_logo_item:nth-child(1) {
        margin-top: 70px;
    }

    .f_logo_item:nth-child(2) {
        margin-top: 70px;
    }
}