*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    
}

body,
p,
ul,
li,
h1,
h3 {
    margin: 0;
    color: #fff;
}

section{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    height: inherit;
}


/*First Section*/

.first {
    background-image: url('img/backgrounds/bg1.jpg');
}

.header {
    font-family: 'Open Sans', sans-serif;
    height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.main_logo{
    width: 100px;
    height: 95px;
}

.nav {
    display: flex;
}

.logo {
    padding-top: 15px;
}

.menu_list {
    display: flex;
    align-items: center;
}

.menu_list_item {
    text-transform: uppercase;
    list-style: none;
    font-size: 13px;
    font-weight: 700;
    padding-left: 32px;
    transition: color .3s ease;
    cursor: pointer;
}

.menu_list_item:first-child {
    padding-left: 0;
}

.menu_list_item:hover {
    color: #ffb548;
}

.icons {
    display: flex;
    align-items: center;
}

.icons_item{
    padding-left: 20px;
}

.icons_item:first-child{
    padding-left: 0;
}

.icons_item:last-child{
    padding-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    min-width: 60px;
    z-index: 1;
    border-radius: 3px;
    top: 25px;
    left: -10px;
}

.dropdown-content .menu_list_item{
    padding: 3px 0 0 10px;
}

.dropdown-content .menu_list_item:first-child{
    padding-top: 6px;
}

.dropdown-content .menu_list_item:last-child{
    padding-bottom: 6px;
}

.active {
    display: block;
}

.anim {
    transform: rotate(180deg);
}


.main_text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

h1{
    font-family: Bebas Neue;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 4px;
}

h3{
    font-family: Bebas Neue;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 2px;
}

.buy{
    margin-top: 40px;
    padding: 20px;
    background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1A1917;
    transition: color .2s ease;
    cursor: pointer;
}

.buy:hover{
    background: #f1a32d;
}

.pipe {
    opacity: 0.5;
    border: 1px solid #1A1917;
    transform: matrix(1, 0, 0.04, 1, 0, 0);
    width: 0px;
    height: 24 px;
}

.scroll_down{
    margin: 0 auto;
    width: 65px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    cursor: pointer;
}

.the_story{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}


/*Second section*/

.second {
    background-image: url('img/backgrounds/bg2.jpg');
}

.what_is_sos{
    display: flex;
    padding: 190px 50px 0;
}

.what{
    width: 600px;
}

.what_exactly{
    font-family: Bebas Neue;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    padding-top: 70px;
    position: relative;
    white-space: nowrap;
}

.what_exactly h1{
    margin-top: 10px;
    height: 100px;
    line-height: 80px;
}

.long_line{
    position: absolute;
    max-width: 780px;
    width: 50vw;
    height: 3px;
    left: 0;
    top: 270px;
    z-index: 5;
    background: #FFFFFF;
    border-radius: 4px;
}

.story{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 19px;
    text-align: justify;
    width: 365px;
    float: right;
    margin-top: 100px;
}

.slider {
    overflow: hidden;
    margin-left: 50px;
    max-width: 500px;
    position: relative;
}

.slider_items {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slider_item img{
    border-radius: 7px;
    width: 500px;
    height: 650px;
}

.slider_btn{
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}


/*Third Section*/

.third {
    background-image: url('img/backgrounds/bg3.jpg');
}

.special_container{
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 25px;
    display: flex;
    justify-content: flex-end;
    height: inherit;
}

.features{
    display: flex;
    align-items: center;
    height: inherit;
}

.accordion{
    margin-top: 20px;
    width: 440px;
}

.accordion_item{
    margin-top: 15px;
}

.accordion_title{
    font-family: Bebas Neue;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 3px;
    color: #FFB548;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.accordion_title .dot_item{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.accordion_content {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    margin-left: 25px;
    display: none;
}

.accordion_content_active {
    display: block;
    
}

.vertical_line{
    position: absolute;
    top: 34px;
    left: 6px;
    width: 3px;
    height: 114px;
    background-color: #fff;
}

.dot_item{
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.active_dot{
    background-color: #fff;
    transition: background-color .3s ease;
}

/*Fourth Section*/

.fourth{
    background-image: url('./img/backgrounds/bg4.jpg');
}

.text_pc{
    padding-top: 120px;
    text-align: center;
}

.image_frame{
    margin-top: 100px;
    position: relative;
}

.requirements{
    position: absolute;
    top: 0;
}

.requirements_flex{
    display: flex;
    width: 575px;
    flex-wrap: wrap;
}

.requirements_item{
    width: 50%;
    border-bottom: 0.5px solid #979797;
}

.requirements_item:nth-child(odd){
    border-right: 0.5px solid #979797;
}

.requirements_title{
    font-family: Bebas Neue;
    font-size: 26px;
    letter-spacing: 3px;
    color: #FFB548;
    margin: 20px 0 0 30px;
}

.requirements_content{
    margin: 10px 0 0 30px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;
}

.requirements_content:nth-child(-n+2){
    margin-bottom: 30px;
}



/*Fifth Section*/

.fifth{
    background-image: url('./img/backgrounds/bg5.jpg');
}

.feedback{
    display: flex;
    justify-content: space-between;
}

.think{
    margin-top: 270px;
}

.think .story{
    float: left;
    width: 420px;
}

.feedback_item:last-child{
    margin-top: 80px;
}

.card_item{
    width: 480px;
    height: 220px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    margin-top: 50px;
}

.card_item:nth-child(2n){
    margin-left: -120px;
}

.human_info{
    display: flex;
    margin-left: 25px;
    padding-top: 15px;
}

.avatar{
    background: #FFB548;
    width: 64px;
    height: 66px;
    border-radius: 50%;
}

.avatar img{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-left: -7px;
}

.who{
    margin: 10px 0 0 25px;
}

.name{
    font-family: Bebas Neue;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    width: 180px;
}

.prof{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #5d5e5f;
}

.twitter{
    margin: 15px 0 0 150px;
    color: #747474;
}

.comment{
    margin: 40px 0 0 20px;
}

.comment_content{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.date{
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    color: #747474;
    margin-top: 10px;
}



/*Sixth Section*/

.sixth{
    background-image: url('./img/backgrounds/bg6.jpg')
}

.skull{
    padding-top: 50px;
}

.letter{
    display: flex;
    justify-content: space-between;
}

.subscribe{
    margin-top: 220px;
}

.subscribe .story{
    float: left;
    width: 666px;
}

form input{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    border: none;
    height: 60px;
    width: 380px;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
    padding-left: 15px;
}

form input:focus{
    border: none;
    outline: none;
}

form .buy{
    padding: 18px 75px;
    margin-left: 20px;
}

footer{
    font-family: Open Sans;
    font-style: normal;
}

.footer_nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .menu{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
}

.footer_icons{
    display: flex;
    font-size: 22px;
    justify-content: flex-end;
}

.footer_icons a{
    color: #fff;
}

.icon:not(:last-child){
    padding-right: 50px;
}

.footer_icons .fa-facebook-f:hover{
    color: #4267B2;
}

.footer_icons .fa-twitter:hover{
    color: #1DA1F2;
}

.footer_icons .fa-youtube:hover{
    color: #FF0000;
}

.footer_icons .fa-twitch:hover{
    color: #6441a5;
}

hr{
    border-color: #979797;
    margin-top: 30px;
}

.last{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.copy{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;    
    color: #979797;
}

.privacy{
    display: flex;
}

.privacy .menu_list_item{
    padding-left: 10px;
    font-size: 11px;
}

.privacy .menu_list_item:first-child {
    padding-left: 0;
}