.apc_container {
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
}

.apc_container:hover {
    height: 470px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.apc_container .apc_wrapper img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(192, 192, 192);
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.apc_container:hover .apc_wrapper img.apc_active {
    height: 470px;
    width: 350px;
    margin: 0px auto;
    border: none;
    border-radius: 0;
}

.apc_title {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    line-height: 25px;
    text-align: center;
}

.apc_place {
    color: #fff;
    font-size: 17px;
    line-height: 0px;
    margin: 10px 0;
    text-align: center;
}

.apc_content {
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
}

.apc_buttons {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.apc_btn {
    height: 40px;
    width: 150px;
    margin: 0 5px;
}

.apc_btn button {
    height: 100%;
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s;
}

.apc_btn button:hover {
    transform: scale(0.95);
}

.apc_icons {
    position: relative;
    margin-top: -405px;
    margin-left: 10px;
    list-style: none;
}

.apc_icons.apc_active {
    display: none;
}

.apc_icons div {
    height: 40px;
    width: 40px;
    margin: 5px 0;
    opacity: 0;
    margin-left: -100px;
    transition: all 0.5s ease;
}

.apc_container:hover .apc_icons div {
    opacity: 1;
    margin-left: 7px;
}

.apc_container:hover .apc_icons div:nth-child(2) {
    transition-delay: 0.2s;
}

.apc_container:hover .apc_icons div:nth-child(3) {
    transition-delay: 0.4s;
}

.apc_icons div a {
    color: #7b00e0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #fff;
    display: block;
    line-height: 40px;
    transition: all 0.3s;
    text-align: center;
}

.apc_icons div a:hover {
    transform: scale(0.9);
}