.bg_container {
    width: 800px;
    margin: 0 auto; 
    padding-top: 250px;
}

.bg_parent{
    background-color: rgb(80, 80, 80);
    border-radius: 4px;
}

.bg_text, .bg_btn{
    text-align: center;
    
}

.bg_text{
    color: rgb(255, 241, 225);
    font-size: 24px;
}

.bg_text input{
    border: none;
    outline: none;
    background-color: rgb(80, 80, 80);
    font-size: 24px;
    cursor: pointer;
}

.rgb, .hex{
    color: rgb(94, 176, 253);
}

.bg_tooltip{
    display: none;
    font-size: 16px;
    color: rgb(172, 153, 153);
}

.bg_parent p{
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.bg_btn button {
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}

.bg_btn button:hover, .bg_btn button:focus {
    color: #fff;
    outline: 0;
}


.bg_btn button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}