.employee_container{
    background-color: #476ce4;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.fa-quote{
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-right{
    left: 40px;
}

.fa-quote-left{
    right: 40px;
}

.f_user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.f_user-image{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.employee{
    line-height: 28px;
    text-align: justify;
}

.f_user-details{
    margin: 13px 0 0 15px;
    font-size: 18px;
}


.f_username{
    margin: 0;
}

.role{
    margin: 10px 0;
}

.progress-bar{
    height: 4px;
    background-color: #fff;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}


@media (max-width: 768px){
    .feedback_container{
        padding: 20px 30px;
    }

    .fa-quote{
        display: none;
    }
}