.footer_content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 130px 20px 0;
}

.footer_lorem_text {
    font-size: 2rem;
    font-weight: 600;
    color: #b4b4b4;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: #fff;
    height: 35vh;
}

.footer_main-content {
    display: flex;
}

.footer_box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.footer_box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.footer_box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.footer_box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.footer_box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.footer_left .content p {
    text-align: justify;
}

.footer_social {
    margin-top: 20px;
}

.footer_social a {
    padding: 0 2px;
}

.footer_social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
}

.footer_social a span:hover {
    background: #f12020;
}

.footer_center .content .fas {
    font-size: 1.4rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.footer_center .content .fas:hover {
    background: #f12020;
}

.footer_center .content .text {
    font-size: 1rem;
    padding-left: 10px;
}

.footer_center .content .phone {
    margin: 15px 0;
}

.footer_text {
    font-size: 1rem;
    margin-bottom: 2px;
    color: #656565;
}

.footer_msg {
    margin-top: 10px;
}

.footer_right form input,
.footer_right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.footer_right form input:focus,
.footer_right form textarea:focus {
    outline-color: #3498db;
}

.footer_right form input {
    height: 35px;
}

.footer_btn {
    margin-top: 10px;
}

.footer_btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.footer_right form .btn button:hover {
    background: #000;
}

.footer_bottom div {
    padding: 5px;
    font-size: 1rem;
    background: #151515;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.footer_bottom div span {
    color: #656565;
}


@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .footer_main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer_box {
        margin: 5px 0;
    }
}