.initial_cards .container {
    width: 40vw;
    margin: 0 auto;
}

.ic_panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 80vh;
    color: #fff;
    cursor: pointer;
    flex: 1;
    position: relative;
    transition: flex .7s ease-in;
    margin-left: 10px;
}

.ic_panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.ic_panel.ic_active {
    flex: 5;
    border-radius: 50px;
}

.ic_panel.ic_active h3 {
    opacity: 1;
    transition: opacity .3s ease-in .4s;
}
