.netflix .container {
    flex-direction: column;
}

.netflix_logo{
    width: 300px;
}

.n_text {
    font-weight: bold;
}

.n_nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.n_btn-open {
    position: absolute;
    top: 10px;
    left: 10px;
}

.n_nav {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
}

.n_nav.n_visible {
    transform: translateX(0);
}

.n_nav-black{
    background: #141414;
    width: 60%;
    max-width: 480px;
    transition-delay: .4s;
}

.n_nav-black.n_visible {
    transition-delay: 0s;
}

.n_nav-red {
    background: #e50914;
    width: 95%;
    transition-delay: .2s;
}

.n_nav-red.n_visible {
    transition-delay: .2s;
}

.n_nav-white {
    background: #fff;
    width: 95%;
    position: relative;
    padding: 40px;
    transition-delay: 0;
}

.n_nav-white.n_visible {
    transition-delay: .4s;
}

.n_btn-close {
    position: absolute;
    top: 40px;
    right: 30px;
}

.n_list {
    list-style-type: none;
    font-weight: bold;
}

.n_list li {
    margin: 20px 0;
}

.n_list li a {
    color: #141414;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.n_list ul {
    list-style-type: none;
    padding-left: 20px;
}

