.sa_box h2{
    margin: 10px;
}

.sa_box {
    background: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    transform: translateX(400%);
    transition: transform .4s linear;
}

.sa_box:nth-child(even) {
    transform: translateX(-400%);
}

.sa_box.show {
    transform: translateX(0);
}

.sa_box h2 {
    font-size: 35px;
}