.slider {
    overflow: hidden;
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.slider_items {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slider_item{
    position: relative;
}

.slider_item img{
    width: 900px;
    height: 400px;
}

.arrow1, .arrow2{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    padding-left: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}

.arrow2{
    right: 0;
    padding: 0 10px 0 0;
}

.slider-lines {
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;

}
.slider-lines_item{
    height: 3px;
    width: 25px;
    margin: 0 2px;
    background-color: #99abb4;;
    display: inline-block;
    transition: background-color .3s ease;
}
.active_line {
    background-color: #6f7477;
}
