.sl_split h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.sl_btn {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: .2rem solid #fff;
    font-size: 1rem;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sl_left .sl_btn:hover{
    background: rgb(87, 84, 236);
    border: .2rem solid rgb(87, 84, 236);
}

.sl_right .sl_btn:hover{
    background: rgb(80, 80, 80);
    border: .2rem solid rgb(80, 80, 80);
}


.sl_container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.sl_split{
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.sl_split.sl_left {
    left: 0;
    background:url(../img/ps.png) no-repeat center;
    background-size: cover;
}

.sl_split.sl_left::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(87, 84, 236, 0.7);
}

.sl_right {
    right: 0;
    background:url(../img/xbox.jpg) no-repeat center;
    background-size: cover;
}

.sl_split.sl_right::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(43, 43, 43, 0.8);
}

.sl_hover-left .sl_left{
    width: 75%;
}

.sl_hover-left .sl_right {
    width: 25%;
}

.sl_hover-right .sl_right{
    width: 75%;
}

.sl_hover-right .sl_left {
    width: 25%;
}

.sl_split.sl_right, .sl_split.sl_left,
.sl_split.sl_left::before,
.sl_split.sl_right::before {
    transition: all 1s ease-in-out;
}